<p id="notice"><%= notice %></p>

<h1>All Commuters</h1>

<%= react_component("MapContainer", { homes: @homes, destinations: @destinations }) %>

<br>

<%= link_to 'New Commuter', new_commuter_path %>
