<nav>
  <%= image_tag "alta-logo.png", id: "logo", alt:"logo"%>
  <ul>
    <li>
      <%= link_to "All Commutes", commuters_path %>
    </li>
    <li>
      <%= link_to "New Commuter", new_commuter_path %>
    </li>
  </ul>
</nav>
